			@font-face {
				font-family: 'tnn1';
				font-style: normal;
				src: url('../fonts/180918031757tnn1.eot');
				src: local('tnn1'), url('../fonts/180918031757tnn1.eot') format('embedded-opentype'), url('../fonts/180918031757tnn1.woff') format('woff');
			}
            
            .tnn1{font-family: 'tnn1' !important;}
            
						body, h1, h2, h3, h4, h5, h6, p, blockquote, li, a{
					font-family: 'tnn1' !important;
				}
		